@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

:root {
    --destaque: rgb(0, 110, 255);
}

body {
    display: grid;
    grid-template-areas: 
    "head"
    "content"
    "foot";
    height: auto;
    grid-template-columns: 1;
    grid-template-rows: auto 1fr auto;
    width: 100%;
    font-family: Montserrat;
    color: white;
}

.head {
    grid-area: head;
    display: flex;
    align-items: start;
    justify-content: start;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 99999;
    min-width: 0;
}

.esq {
    justify-content: left;
    width: 50%;
    height: 100%;
    display: flex;
    padding: 2.25rem;
    font-style: italic;
    align-items: center;
}

.meio {
    justify-content: right;
    gap: .9375rem;
    width: 50%;
    padding: 1.875rem;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: end;
}

.lista_desktop {
    display: block;
}

.meio a {
    color: white;
    text-shadow: none;
    font-weight: bold;
    text-decoration: none;
}

.meio a:visited {
    color: white;
}

.content {
    background-color: black;
    grid-area: content;
    padding: 1.875rem;
    min-width: 0;
}

#sobre {
    display: flex;
}

.side1 {
    flex: 1;
}

.side2 {
    flex: 1
}

.hero-image {
    display: block;
    width: 100%;
    height: auto;
    max-width: 100%;
}

.foot {
    grid-area: foot;
    background-color: black;
    min-width: 0;
}

.botao {
    padding: .375rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 6.25rem;
    background-color: white;
    color: black;
    text-decoration: none;
}

.Bprojetos {
    background-color: var(--destaque);
}

.bi {
    font-size: large;
}

.big {
    color: var(--destaque);
    font-size: clamp(1.5rem, 1vw + 1rem, 3rem);
    font-weight: bolder;
    text-shadow: 0 0 .3125rem var(--destaque);
}

.h0 {
    font-size: clamp(1.5rem, 1vw + 1.5rem, 3.5rem);
}

.bio {
    display: flex;
    padding: 3rem;
}

.bio .side1 {
    display: flex;
}

.fotoperfil {
    width: 5rem;
    height: 5rem;
    border-radius: .625rem;
    margin-right: .625rem;
    box-shadow: 0 0 4rem var(--destaque);
}

.carrossel {
    margin: 0 auto;
    padding: 1.25rem 0;
    overflow: hidden;
    display: flex;
    height: 15.625rem;
    margin: auto;
    width: 90%;
    justify-content: start;
    align-items: center;
    -webkit-mask-image: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
    mask-image: radial-gradient(circle, rgba(0,0,0,1) 40%, rgba(0,0,0,0) 100%);
}

.item {
    width: 100%;
    min-width: 200px;
    color: white;
    border-radius: 1.5rem;
    box-shadow: rgba(0, 0, 0, 10%) .3125rem .3125rem 1.25rem 0;
    padding: 1.25rem;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    min-height: 12.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.group {
    display: flex;
    gap: 1.25rem;
    padding-right: 1.25rem;
    will-change: transform;
    animation: scrolling 15s linear infinite;
}
@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}
.foto_item {
    width: 70%;
}

#projetos {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    width: fit-content;
}

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
    width: 100%;
    padding-top: 1rem;
    height: fit-content;
}

.project {
    background-color: rgb(48, 48, 48);
    width: 100%;
    height: 100%;
    padding: 1rem;
    margin: 0;
    border-radius: 3.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: .625rem;
    box-shadow: 0 .3125rem .9375rem var(--destaque)
}

.project img {
    width: 100%;
    border-radius: 1.875rem;;
}

.tecnologia_usada {
    width: 6.25rem;
    align-self: start;
    display: flex;
    gap: .625rem;
}

.tecnologia_usada img {
    border-radius: 0;
    width: 6.25rem;
    height: 6.25rem;
}

[id] { /* não sei o que isso seleciona mas é necessário pros links internos funcionarem corretamente */
  scroll-margin-top: 6.25rem;
}

.hab_obj {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
}

#habilidades {
    padding: 2rem;
    height: 25rem;
}

#habilidades li {
    margin-left: 1rem;
    padding-top: 2rem;
    font-weight: bold;
    font-size: 1.125rem;
}

.objetivo {
    padding: 2rem;
    display: flex;
    flex-direction: column;
}

.texto {
    padding-top: 2rem;
}

.objetivo img {
    width: 100%;
}

.list {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.list .item {
    width: 100%;
    height: 100%;
}

.logo_container {
    width: 3.75rem;
    height: 3.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .9375rem;
}

.email {
    background-color: var(--destaque);
}

.logo_container img {
    width: 2.5rem;
    height: 2.5rem;
}

.details_container {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
}

.details_container a {
    text-decoration: none;
    color: white;
    font-size: clamp(1rem, 0.5rem + 0.5vw, 2rem);
}

.clientes {
    padding-top: 50px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.cliente {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cliente img {
    width: 90px;
    border-radius: 500px;
    position: absolute;
    top: 0;
    aspect-ratio: 1;
}

.cliente div {
    background-color: rgb(0, 31, 71);
    border: 2px solid var(--destaque);
    border-radius: 15px;
    margin-top: 25px;
    padding-top: 65px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    text-align: center;
    height: 100%;
}

.cliente div h2, h4, p {
    padding-top: 10px;
}

.foot {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2.5rem;
}

.foot div {
    padding-top: .625rem;
}

.lista_mobile {
    display: none;
}

@media(max-width: 1024px) {

    .projects {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .ctr {
        grid-column: 1 / -1;
        justify-self: center;
        width: 200px;
    }
    .list {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 1fr;
    }

    .group {
        animation: scrolling 10s linear infinite;
    }
}

@media (max-width:768px){

    .projects {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3,1fr);
    }

    .ctr {
        grid-column: 1;
        justify-self: center;
        width: auto;
    }

    #sobre{
        flex-direction:column;
    }

    .side1,
    .side2{
        width:100%;
    }

    .list {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    .group {
        animation: scrolling 7s linear infinite;
    }

    .lista_mobile {
        display: block;
    }

    .lista_desktop {
        display: none;
    }

    .clientes {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}

.dropdown { /* confesso que esse dropdown foi retirado do w3schools, mas é porque eu realmente não sabia fazer */
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: var(--destaque);
  border-radius: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 30px;
  left: auto;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content a:visited {
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}