@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: rgb(255, 208, 0);
    display: grid;
    justify-items: center;
    font-family: Montserrat;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    height: 100vh;
    gap: 30px;
    padding: 15px;
}

.container {
    width: 30vw;
    height: 95vh;
    box-shadow: 0 5px 25px black;
    border-radius: 50px;
    overflow: hidden;
}

.upper {
    width: 100%;
    height: 50%;
    background-image: url(bg.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    align-items: center;
    position: relative;
}

.lower {
    width: 100%;
    height: 50%;
    background-color: lightyellow;
    color: brown;
    padding: 16px;
    text-align: center;
}

.foto_prod {
    height: 75%;
}

.lower p, h2 {
    margin-left: 32px;
    margin-right: 32px;
}

.lower p {
    font-size: clamp(0.5rem, 0.5vw + 1rem, 1.2rem)
}

.lower h2 {
    font-size: clamp(1rem, 1vw + 1rem, 2rem)
}

.logoplh {
    position: absolute;
    top: 5%;
    right: 5%;
    height: 15%;
}

.circlecon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 16px;
    width: 40%;
    padding-top: 24px;
    padding-bottom: 24px;
    margin: auto;
}

.circ {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.circ1 {
    background-color: rgb(233, 91, 91);
}

.circ2 {
    background-color: rgb(75, 204, 236);
}

.circ3 {
    background-color: rgb(255, 255, 69);
}

.pricetag {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricetag button {
    font-size: clamp(0.5rem, 1vw + 1rem, 1.5rem);
    padding: 16px;
    padding-left: 24px;
    padding-right: 24px;
    border: 2px brown solid;
    border-radius: 15px;
    color: brown;
    box-shadow: 0 2px 10px black;
    cursor: pointer;
}

.break {
    width: 16px;
}

@media(max-width: 1024px) {
    body {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr 1fr;
    }
    .container {
        width: 45vw;
        height: 60vh;
    }
    .circ {
        width: 16px;
        height: 16px;
    }
    .circlecon {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 16px;
        width: 40%;
        padding-top: 16px;
        padding-bottom: 16px;
        margin: auto;
    }
}

@media(max-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .container {
        height: 80vh;
        width: 80vw;
    }
}

@media(max-width: 480px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    .container {
        height: 110vh;
        width: 80vw;
    }
}