* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 150px);
    grid-template-rows: repeat(2, 150px);
    place-content: center;
}

.container div {
    width: 100%;
    height: 100%;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}