* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: black;
    font-family: Arial;
}

.logo {
    width: 70px;
    height: 55px;
    color: pink;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(calc(50vw - 35px), calc(50vh - 27.5px));
}

@keyframes dvd {
    0% {
        transform: translate(calc(95vw - 35px), calc(95vh - 27.5px));
    }
    10% {

    }
}