* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-areas:
    "header header"
    "menu main";
    width: 100vw;
    height: 100vh;
    grid-template-columns: 30% 70%;
    grid-template-rows: 8% 92%;
    font-family: Arial;
    color: white;
    overflow: hidden;
}

header {
    background-color: black;
    grid-area: header;
    display: grid;
    grid-template-areas: 
    "esq meio dir";
    grid-template-columns: 1fr 3fr 2fr;
    justify-content: center;
    align-items: start;
}

aside {
    background-color: black;
    grid-area: menu;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
}

main {
    background-color: darkgray;
    grid-area: main;
}

/* ícones */

.mainicon {
    height: 32px;
    aspect-ratio: 1;
}

.icon {
    height: 32px;
    aspect-ratio: 1;
    opacity: 0.5;
}

.iconS {
    height: 16px;
    aspect-ratio: 1;
    display: inline;
}

.icon:hover {
    opacity: 1;
}

.iconwrapper {
    height: 72px;
    background-color: rgba(0,0,0,0);
    border: 0;
    cursor: pointer;
    aspect-ratio: 1;
}

/* cabeçalho */

.esq {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding-left: 10px;
    grid-area: esq;
    grid-template-rows: 1fr 1fr;
    align-items: start;
    justify-content: left;
}

.meio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr;
    grid-area: meio;
    align-items: start;
    padding-top: 10px;
    padding-left: 10px;
    justify-content: left;
}

.dir {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-content: right;
    align-items: center;
    grid-area: dir;
    height: 50%;
}

.pesquisa {
    height: 60%;
    width: 85%;
    border-radius: 500px;
    background-color: #000000;
    overflow: hidden;
    display: grid;
    grid-template-columns: 3fr 15fr 1fr 3fr;
    grid-template-rows: 1fr;
    justify-content: start;
    align-items: start;
    padding-left: 1%;
    padding-top: 0.2%;
    border: 1px rgb(51, 51, 51) solid;
    transition: 0.4s ease-in-out;
}
.pesquisa:hover {
    border: 2px rgb(59, 59, 59) solid;
}
.pesquisa:focus-within {
    border: 2px rgb(255, 255, 255) solid;
}
.pesquisa .iconwrapper {
    height: 65%;
}
.pesquisa input {
    height: 55%;
    background-color: rgba(0,0,0,0);
    color: white;
    font-size: 16px;
    width: 75%;
}
.pesquisa input:focus{
    outline: none;
    border: none;
    box-shadow: none;
}

.hoverlink {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    white-space: nowrap;
    align-items: center;
    font-weight: bold;
    opacity: 0.5;
}

.separator {
    width: 2px;
    height: 45%;
    margin-top: 4px;
    background-color: white;
}

.hoverlink:hover {
    transform: scale(1.05);
    transition: 0.1s ease-in-out;
    opacity: 1;
}

.lgnbtn {
    height: 60%;
    border-radius: 500px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: white;
}

.lgnbtn a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    align-items: center;
    font-weight: bold;
}

.lgnbtn:hover {
    transform: scale(1.05);
    transition: 0.1s ease-in-out;
    background-color: rgb(235, 235, 235);
}

/* sidebar */

.titulo {
    width: 100%;
    height: 10%;
    display: grid;
    padding-left: 15px;
    padding-right: 25px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.titulo h3 {
    margin-right: auto;
}

.criar {
    margin-left: auto;
    background-color: black;
    color: white;
    font-weight: bold;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.big {
    font-size: 32px;
    opacity: 0.5
}

.bibliotecas {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 110px;
    height: 275px;
}

.secao {
    display: grid;
    justify-items: start;
    align-items: start;
    gap: 15px;
    width: 100%;
    height: 50%;
}

.bibbtn {
    height: 30px;
    border-radius: 500px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
}

.bibbtn a {
    color: black;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    align-items: center;
    font-weight: bold;
}

.bibbtn:hover {
    transform: scale(1.05);
    transition: 0.1s ease-in-out;
    background-color: rgb(235, 235, 235);
}

.links {
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-left: 15px;
    padding-right: 25px;
    gap: 10px;
    font-size: 14px;
    align-self: end;
}

.links a {
    color: rgba(255,255,255,0.5);
    text-decoration: none;
}

.ling {
    width: 60%;
    margin-left: 20px;
    margin-top: 40px;
    height: 36px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 500px;
    color: white;
    font-weight: bold;
    background-color: black;
    border: 2px white solid;
}

.musicas {
    background-color: #000;
    width: 100%;
    height: 50%;
    padding: 20px;
}

.cantores {
    background-color: #000;
    width: 100%;
    height: 50%;
    padding: 20px;
}


.gridmusicas {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
}

.musica {
    height: 90%;
    display: grid;
    grid-template-columns: (auto-fit, 1fr);
    padding: 8px;
}

.coverart {
    margin-bottom: 8px;
    height: 175px;
    aspect-ratio: 1;
    border-radius: 15px;
}

.author {
    padding-top: 8px;
    color: darkgray;
}

.warning {
    background-color: gray;
    color: black;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-weight: bold;
    border-radius: 3px;
}

.cantor {
    height: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    padding: 8px;
}

.cantor_foto {
    margin-bottom: 8px;
    height: 175px;
    aspect-ratio: 1;
    border-radius: 50%;
}