* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.container div {
    background-color: orange;
}

.item1 {
    grid-column: span 2;
}

.item5 {
    grid-row: span 2;
}